@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


:root{
    --fonte-cabeçalho: "Passion One", sans-serif;
    --fonte-corpo-do-texto: "Sriracha", cursive;
    --fonte-padrão:  Arial, Verdana, Helvetica, sans-serif;

    --cor01: white;
    --cor02: black;
}

html, body{
    min-height: 100vh;
    background-color: gray;
    }

header{
    background-color: black;
    text-align: center;
   }

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /* propriedade nova, serve para quando colocar todas as letras maiúsculas, mas somente a primeira letra de cada palavra que ganha destaque e fica maior*/

    font-family: var(--fonte-cabeçalho);
    font-weight: 800;
    font-style: bold;
    font-size: 8vw;
    color: white;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--fonte-padrão);
    color: white;
    font-size: 1.5em;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(110, 110, 110);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
}
section{
    font-family: var(--fonte-corpo-do-texto);
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
   
}
main > section#flor{
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
    
    position: relative;
    min-width: 350px;
    margin-left: -50px;
   
    padding-bottom: 50%;

}



p#texto-flor{
    background-color: rgba(0, 0, 0, 0.507);
    background-size: 100% 100%;
    position: absolute;
    color: white;
    height: auto;
    width: auto;
    left: 50px;
    top: 20px;

}
main section#carta{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: -50px;

    position: relative;
    min-width: 350px;
    margin-left: -50px;
   
    padding-bottom: 50%;
}

p#texto-carta{
    background-color: rgba(0, 0, 0, 0.507);
    background-size: 100% 100%;
    position: absolute;
    color: white;
    height: auto;
    width: auto;
    left: 50px;
    top: 20px;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 1.8em;
    padding: 10px;
}

