@charset "UTF-8";

@media screen and (min-width: 688px) { /* telas de tablet pra cima */

    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    body {
        height: 100vh;
    }

    menu > ul > li {
        display: inline-block;
        border: 1px solid #ad27ced3;
        margin-right: 5px;       
    } 
}

